form {
    position: relative;
    color: #757575;
}

.input {
    background-color: var(--white-color);
    width: 100%;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    height: 34px;
    padding: 10px 60px 10px 10px;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--white-color);

    &::before {
        content: '';
        width: 1px;
        height: 20px;
        position: absolute;
        top: 6px;
        left: 0;
        background-color: #757575;
    }
}
